/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family: Comic Sans MS;
	color: #000000;
}

body {
	
	background-color:#fff;


}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color:#A9A9A9;
	width: 100%;
	height: auto;
	font-family: Comic Sans MS;
	color: black;
	position: relative;
	overflow: auto;
	text-align: center;
}

#Chicken {
	text-align: center;
	margin: auto;
	width: 50%;
	font-family: Comic Sans MS;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color: #black;
}

#Beef {
	text-align: center;
	margin: auto;
	width: 50%;
	font-family: Comic Sans MS;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color: #black;
}

#Sushi {
	text-align: center;
	margin: auto;
	width: 50%;
	font-family: Comic Sans MS;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color: #black;
}

#Chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#Beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#Sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background-color:#A9A9A9;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: Comic Sans MS;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}
#navbar-toggle{
	font-family: Comic Sans MS;
}